<header>
    <h3 class="title" tabindex="0">Members <b><i class="only">Only</i></b></h3>
    <nav class="log-ins">
        <h4 class="sign-up-button" tabindex="0">Sign Up</h4>
        <h4 class="log-in-button"tabindex="0">Log In</h4>
    </nav>
</header>