<header>
    <h3 class="title">Members <b><i class="only">Only</i></b></h3>
    <nav class="log-ins">
        <h4 class="sign-up-button">Sign Up</h4>
        <h4 class="log-in-button">Log In</h4>
    </nav>
</header>