<header>
    <h3 class="title">Members <b><i class="only">Only</i></b></h3>
    <nav class="welcome-back">
        <h4>Welcome back <%=currentUser.full_name %> !</h4>
        <h4><a href="sign-out" style="color:black; text-decoration: none;">Sign Out</a></h4>
    </nav>
</header>