<div class="login-form">
    <form action="/login" method="POST" class="form">
        <input type="hidden" name="action" value="sign-up">
        <div class="user">
            <label for="username">Username: </label>
            <input type="text" name="username" required="true" placeholder="JohnDoe1">
        </div>
        <div class="pass">
            <label for="password">Password:</label>
            <input type="password" required="true" name="password">
        </div>
        <div class="login-submit">
            <input type="submit" value="Login" class="login">
        </div>
    </form>
</div>