<div class="membership-form">
    <form action="/membership" method="POST" class="form">
        <label for="secret">Enter the Secret Key</label>
        <input type="text" name="secret">
        <div class="membership-submit">
            <input type="submit" value="Submit" class="login">
        </div>
    </form>
</div>