<div class="membership-form" tabindex="-1">
    <form action="/membership" method="POST" class="form">
        <p>By becoming a member you can see who posted what message and when they posted it!</p>
        <label for="secret">Enter the Secret Key</label>
        <input type="text" name="secret">
        <div class="membership-submit">
            <input type="submit" value="Submit" class="login">
        </div>
    </form>
</div>