<div class="unique-message">
    <div class="title"><%=message.title%></div>
    <div class="user"><%=message.user%></div>
    <div class="date"><%=message.time_stamp%></div>
    <div class="text"><%=message.text%></div>
</div>